:root {
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navy-blue: #2E2F42;
  --green: #31D0AA;
  --slate: #434455;
  --light-slate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
  --navy-blue-modal: #2E2F42;
  --grey: #2E2F42;
  --white: #FFFFFF;
  --dairy: #FCFCFC;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--slate);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main_advantages-container h2 {
  display: none;
}

/* --------------------- Text Configuration --------------------- */
.logo-web {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: var(--iris);
}

.logo-studio {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: var(--navy-blue);
}

.header_nav_menu a {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
}

.header_contact_data a {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--slate);
}

.hero_section_title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  color: var(--white);
  text-align: center;
}

.hero-section_button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: var(--white);
}

.main_advantages_list_element_title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
}

.main_advantages_list_element_description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.main_our_team_header {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  color: var(--navy-blue);
  text-align: center;
}

.main_our_team_list_element_description_title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
}

.main_our_team_list_element_description_role {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.main_our_portfolio_header {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  color: var(--navy-blue);
  text-align: center;
}

.main_our_portfolio-container {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  color: var(--navy-blue);
}

.main_our_portfolio_list_element_description_title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
}

.main_our_portfolio_list_element_description_role {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.footer-logo-web {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: var(--iris);
}

.footer-logo-studio {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: var(--cloud);
}

.footer-description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--cloud);
}


/* --------------------- Background Color Configuration --------------------- */

.hero_section-container {
  background-color: var(--navy-blue);
}

.hero-section_button {
  background-color: var(--iris);
}

.main_our_team-container {
  background-color: var(--cloud);
}

.footer-container {
  background-color: var(--navy-blue);
}

/* --------------------- Links and Buttons Configuration --------------------- */
.header_nav_menu a:hover,
.header_nav_menu a:focus {
  color: var(--ocean);
  cursor: pointer;
}

.header_nav_menu a:active {
  color: var(--ocean);
}

.header_contact_data a:hover,
.header_contact_data a:focus {
  color: var(--ocean);
  cursor: pointer;
}

.hero-section_button:hover {
  background-color: var(--ocean);
  cursor: pointer;
}






